.logoContainer{
    display: block;
    border: 2px solid transparent;
    border-radius: 50%;
    height: 75px;
    width: 75px;

    svg{
        padding-top: 15px
    }
    svg:hover{
        animation: tilt 1s ease-in-out infinite;
    }
}

@keyframes tilt {
  0%   { transform: rotate(0deg); }
  50%  { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}
