.contactContainer {

  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}


.contactContainerTitle {
  margin: 0px auto 0px auto;
  justify-self: center;
  color: white;
  font-family: Montserrat;
  font-size: 35px;
  margin-bottom: 25px;


}