.contactContainer {

  margin-bottom: 50px;

}


.contactContainerTitle {

  justify-self: center;
  margin-top: 50px;
  color: white;
  font-family: Montserrat;
  font-size: 35px;
  margin-bottom: 50px;

}