.container {
  min-height: 78.7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;;
}

.form {
  width: 100%;
  max-width: 400px;
  background: #1b1b1b;
  padding: 32px;
  border-radius: 16px;
  border: 1px solid #2a2a2a;
  font-family: Montserrat;
}

.title {
  color: #fff;
  margin-bottom: 24px;
  font-size: 28px;
}

.field {
  margin-bottom: 20px;
  font-family: Montserrat;
}

.label {
  display: block;
  margin-bottom: 8px;
  color: #bbb;
  font-size: 14px;
  font-family: Montserrat;
}

.input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #333;
  background: #222;
  color: #fff;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
  margin-top: 8px;
  font-family: Montserrat;

  &:focus {
    border-color: #666;
  }
}

.error {
  background: #3b1212;
  color: #ff7b7b;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  font-family: Montserrat;
}

.button {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: none;
  background: #fff;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.2s ease;
  font-family: Montserrat;

  &:hover {
    opacity: 0.9;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}