.navBar {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-family: Montserrat;

  a,
  button {
    all: unset;
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-family: inherit;

    padding: 4px 6px;
    transition: opacity 0.2s ease;

    display: flex;
    align-items: center;
    gap: 6px;
  }

  a:hover,
  button:hover {
    opacity: 0.7;
  }

  .icon {
    display: none;
    font-size: 18px;
  }

  .text {
    display: inline;
  }
}

@media (max-width: 630px) {
  .navBar {
    .icon {
      display: inline-block;
      font-size: 25px;
    }

    .text {
      display: none;
    }
  }
}
