.navBar {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-family: Montserrat;

    a,
    button {
        all: unset;
        cursor: pointer;
        color: white;
        text-decoration: none;
        font-family: inherit;


        padding: 4px 6px;
        transition: opacity 0.2s ease;
    }

    a:hover,
    button:hover {
        opacity: 0.7;
    }
}
