.projectsContainerTitle{

  justify-self: center;
  margin: 50px auto 0px auto;
  color: white;
  font-family: Montserrat;
  font-size: 35px;

}

.projectsContainer{
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.heroSection{

     margin: 50px auto 0px auto;
     display: flex;
     flex-direction: column;
}
