.footerContainer {
  width: 100%;
  background-color: #282c34;
  height: 100px;
  margin-top: auto;
  color: white;
  font-family: Montserrat;
  align-content: center;
  justify-items: center;
  border-top: 1px solid #3e4451;

  ul {
    display: flex;
    gap: 1rem;
    margin-top: 10px;

    li,
    a {
      cursor: pointer;
      transition: opacity 0.2s;
      color: white;
      text-decoration: none;
      font-family: inherit;

      &:hover {
        opacity: 0.6;
      }
    }
  }
}


.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.modal {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
  position: relative;

  p{

    margin-bottom: 10px;
    font-family: Montserrat;
  }
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}